@*@{*@
@*    ViewData["latestPerId"];*@
@*}*@

<h1>Smart things weerstation server.</h1>
<div class="alert alert-info">Deze website is op dit moment nog onder constructie. Meld fouten op <a href="https://github.com/hro-sma/weather-station-server">onze Github</a> </div>

<div id="weathermap">
    weerkaart komt hier.
</div>
