@{
    ViewData["Title"] = "HRO-SMA";
}

<h1>Smart things weerstation server.</h1>
<div class="alert alert-info">Deze website is op dit moment nog onder constructie. Meld fouten op https://github.com/hro-sma/weather-station-server </div>

<div id="weathermap">
    weerkaart komt hier.
</div>
