@{
    ViewData["Title"] = "Aww yeah!";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Aww yeah!</h4>
    <p>Je weerstation is successvol geregistreerd! Je kunt nu data naar de server sturen met het <strong>deviceId</strong> <code>@ViewData["DeviceId"]</code></p>
</div>